* {
    font-family: 'Comic Sans MS';
    font-size:35px;
    gap:4px;
    margin: 0px;
    padding: 0px;
}
button {
    border-radius: 10px;
    background-color: white;
}
button:active{
    background-color: darkgrey;
}

div.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 226, 230);
}

div.calc-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(81, 81, 190);
    border-radius: 10px;
    padding: 10px;
}
div.buttons {
    display:flex;
}
div.numbers {
    flex: 3 1 0;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
div.numbers > div {
    display:flex;
    align-items: stretch;
    flex:1;
}
div.numbers > div > button {
    flex: 1;
}
div.operations{
    flex: 1 1 0;
    display:flex;
    align-items: stretch;
    flex-direction: column;

}
div.display {
    width: 400px;
    height: 100px;
    text-align: right;
    background-color: rgb(0, 0, 0);
    color: greenyellow;
    padding: 25px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    border-radius: 10px;
}